$primary: #1498d7;

$dark-primary: darken($primary, 20%);

// default grays
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$theme-colors: (
    // Default theme-colors
    "primary":      $primary, // except this one
    "secondary":    $gray-600,
    "success":      #28a745,
    "info":         #17a2b8,
    "warning":      #ffc107,
    "danger":       #dc3545,
    "light":        $gray-100,
    "dark":         $gray-800,

    // Added colors
    "blue":         #007bff,
    "indigo":       #6610f2,
    "purple":       #6f42c1,
    "pink":         #e83e8c,
    "red":          #ef3545,
    "orange":       #fd7e14,
    "yellow":       #ffc107,
    "green":        #28a745,
    "teal":         #20c997,
    "cyan":         #17a2b8,
    "gray":         $gray-400,
    "dark-gray":    $gray-600,
    "black":        $black,
);

$badge-padding-y: .35em !default;
$badge-padding-x: .5em !default;

$body-bg: $white;

$box-shadow-sm: 0 .5rem .5rem rgba($black, .075);

// $breadcrumb-bg: none;
$breadcrumb-border-radius: .5rem;
$breadcrumb-margin-bottom: 0;

$card-border-radius: .75rem;

$dropdown-border-radius: .5rem;
$dropdown-min-width: 7.5rem;
// $dropdown-padding-y: .15rem;
$dropdown-item-padding-y: .5rem;
$dropdown-item-padding-x: .5rem;
$dropdown-link-hover-bg: $gray-200;

// $font-family-sans-serif: "Roboto";
$font-size-base: 2rem;

// $headings-color: $primary;
$headings-font-weight: 700;


$pre-color: map-get($theme-colors, "pink");

$table-border-color: $gray-800;


@import "bootstrap-4.3.1/scss/bootstrap.scss";


html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
// *::selection {
//     background: $primary;
//     color: $gray-200;
// }

.container-fluid {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2rem;
}


.text-lg {
    font-size: $font-size-lg;
}
.text-base {
    font-size: $font-size-base
}
.text-sm {
    font-size: $font-size-sm;
}


.no-select {
    -webkit-touch-callout: none; // iOS Safari
    -webkit-user-select: none; // Safari // Konqueror HTML
    -moz-user-select: none; // Firefox
    -ms-user-select: none; // Internet Explorer/Edge
    user-select: none; // Non-prefixed version, currently supported by Chrome and Opera
}

$cell-y-padding: $font-size-base * 1.25;
$cell-x-padding: $font-size-base * .25;
table td, table th {
    padding-left: $cell-y-padding !important;
    padding-right: $cell-y-padding !important;
    padding-top: $cell-x-padding !important;
    padding-bottom: $cell-x-padding !important;
}
table tr {
    transition: 1s ease;
}
tr > th, tr > td {
    &:nth-child(1) {
        width: 7%;
        text-align: center;
    }
    &:nth-child(2) {
        width: 40%;
    }
    &:nth-child(3) {
        width: 43%;
    }
    &:nth-child(4) {
        width: 10%;
        text-align: right;
    }
}

.overflow-hidden {
    text-overflow: ellipsis;
}

td > div {
    width: 100%;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

$spinner-width-lg:          4rem !default;
$spinner-height-lg:         $spinner-width-lg !default;
$spinner-border-width-lg:   .3em !default;
.spinner-border-lg {
    width: $spinner-width-lg;
    height: $spinner-height-lg;
    border-width: $spinner-border-width-lg;
}
.spinner-border > img {
    -webkit-touch-callout: none; // iOS Safari
    -webkit-user-select: none; // Safari // Konqueror HTML
    -moz-user-select: none; // Firefox
    -ms-user-select: none; // Internet Explorer/Edge
    user-select: none; // Non-prefixed version, currently supported by Chrome and Opera
    width: 80%;
    height: 80%;
}
