<!DOCTYPE html>
<html lang="sk" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Výsledky</title>
        <link rel="stylesheet" href="/static/matboj.min.css">
    </head>
    <body style="height: 100vh; ">
        <b>
        <div class="container-fluid mt-0" style="height: 100vh;">
            <div style="height: 20vh;padding-top:10vh;"><h1 class="text-center text-primary pt-2 pb-3" style="font-size: 100px;"><span id="kategoria"></span></h1></div>
            <div id="results" style="height: 80vh;text-align: center;padding-top:10vh;font-size: 80px;"></div>
        </div>

        <script src="/static/jquery-3.4.1.min.js" charset="utf-8"></script>
        <script>
            data = {{vysledky|safe}};
            console.log(data);
            kat = document.getElementById("kategoria");
            kategoria.innerHTML = data['category'];
            var i = data['results'].length;
            i = Math.min(i, {{max_teams}});
            document.onkeydown = function(x) {
                console.log(x);
                if(x.key == " ")
                {
                    if(i == 0) return;
                    i--;
                    console.log(x);
                    res = document.getElementById("results");
                    res.innerHTML = "<div>"+data['results'][i]['{{columns[0]}}']+".</div><div style='font-size: 130%;'>"+data['results'][i]['{{columns[1]}}']+"</div><div>"+data['results'][i]['{{columns[2]}}']+"</div><div style='font-style: italic'>"+data['results'][i]['{{columns[3]}}']+" bodov</div>"
                }
                if(x.key == "b")
                {
                    if(i + 1 == {{max_teams}}) return;
                    i++;
                    console.log(x);
                    res = document.getElementById("results");
                    res.innerHTML = "<div>"+data['results'][i]['{{columns[0]}}']+".</div><div style='font-size: 130%;'>"+data['results'][i]['{{columns[1]}}']+"</div><div>"+data['results'][i]['{{columns[2]}}']+"</div><div style='font-style: italic'>"+data['results'][i]['{{columns[3]}}']+" bodov</div>"
                }
            }
        </script>
        </b>
    </body>
</html>
