<!DOCTYPE html>
<html lang="sk" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Výsledky</title>
        <link rel="stylesheet" href="/static/matboj.min.css">
    </head>
    <body style="height: 100vh; ">
        <b>
        <div class="container-fluid mt-0" style="height: 100vh;">
            <!--<div class="position-absolute" style="width: 100vw; bottom: 0;">-->
            <h1 id="casovac" class="text-center pt-5"></h1>
        <!--</div>-->
            <div id="results">
            <h1 class="text-center text-primary pt-2 pb-3">Kategória <span id="kategoria"></span></h1>
            <table class="table table-bordered text-nowrap mb-0">
                <thead id="table-head" class="thead-light">
                    <th>#</th>
                    <th>Názov</th>
                    <th>Škola</th>
                    <th>Body</th>
                </thead>
                <tbody id="top"></tbody>
            </table>
            <!--<div>-->
                <!--<div class="d-flex">-->
                    <!--<div>#</div>-->
                    <!--<div>Názov</div>-->
                    <!--<div>Škola</div>-->
                    <!--<div>Body</div>-->
                <!--</div>-->
                <!--<div id="top"></div>-->
            <!--</div>-->
            <div id="scroll" class="overflow-auto no-scrollbar" style="height: 395px;">
                <table class="table table-bordered text-nowrap shadow">
                    <tbody id="scroll-tbody"></tbody>
                </table>
                <!--<div id="scroll-tbody" class="text-nowrap"></div>-->
            </div>
            </div>
        </div>

        <script src="/static/jquery-3.4.1.min.js" charset="utf-8"></script>
        <script>
            var table_head = document.getElementById("table-head").children[0];
            var vysledky = document.getElementById("results");
            var widths = [];
            $( document ).ready(function() {
                for(var i = 0; i < table_head.children.length; i++)
                {
                    var ch = table_head.children[i];
                    console.log(ch.clientWidth, window.getComputedStyle(ch, null))
                    widths.push(ch.clientWidth - parseInt(window.getComputedStyle(ch, null).getPropertyValue('padding-left')) - parseInt(window.getComputedStyle(ch, null).getPropertyValue('padding-right')));
                }
                //widths = [103, 576, 656, 161]
                console.log(widths);
                vysledky.style["display"] = "none";
                preContest();
            });


            var vsetky_kategorie = [
                {% for i in categories %}
                    "{{ i }}",
                {% endfor %}
            ];
            // Premenne
            console.log("{{ colums }}");
            console.log(vsetky_kategorie);
            var zaciatok = new Date("Nov 29, 2019 10:00:00").getTime();
            var koniec = new Date("Nov 29, 2019 12:00:00").getTime();

            function sleep(ms) {
              return new Promise(resolve => setTimeout(resolve, ms));
            }

            var xhr;
            function load(kategoria) {
                var url = "/results/" + kategoria;
                xhr = new XMLHttpRequest();
                // xhr.responseType = 'json';
                xhr.open('GET', url);
                xhr.send();
            }

            // Generuj vysledky
            function generate(kategoria) {
                if(xhr == null) load(kategoria);
                if(xhr.readyState != 4)
                {
                    setTimeout(function(){generate(kategoria)}, 1000);
                    return;
                }
                var status = xhr.status;

                if (status === 200) {
                    var json_response = xhr.response;
                    var json = JSON.parse(json_response);
                    // var json = json_response;
                    var results = json["results"];
                    console.log(json["results"]);
                    console.log(json["category"]);

                    document.getElementById("kategoria").innerHTML = json["category"];
                    if(json["frozen"]) document.getElementById("kategoria").innerHTML += " (zamrazené)";

                    var top = document.getElementById("top");
                    var others = document.getElementById("scroll-tbody");
                    top.innerHTML = "";
                    others.innerHTML = "";

                    for (var i = 0; i < results.length; i++) {
                        var tim = results[i];
                        //var row = "<tr><td>" + tim["Poradie"] + "</td><td class='overflow-hidden'>" + tim["Názov tímu"] + "</td><td class='overflow-hidden'>" + tim["Škola"] + "</td><td>" + tim["Body"] + "</td></tr>";
                        var row = "<tr><td>" + tim["Poradie"] + "</td><td><div class='overflow-hidden' style='width:"+widths[1]+"px;'>" + tim["Názov tímu"] + "</div></td><td><div class='overflow-hidden' style='width:"+widths[2]+"px;'>" + tim["Škola"] + "</div></td><td>" + tim["Body"] + "</td></tr>";
                        // var row = "<div class='d-flex'><div>" + tim["Poradie"] + "</div><div class='overflow-hidden'>" + tim["Názov tímu"] + "</div><div class='overflow-hidden'>" + tim["Škola"] + "</div><div>" + tim["Body"] + "</div></div>";
                        if (i < 5) {
                            top.innerHTML += row;
                        }
                        else {
                            others.innerHTML += row;
                        }
                    }
                }
                else {
                    console.error(status, xhr.response);
                }
                scrollToRow(0, 1);
            }

            var index = 0;
            function generujDalsie() {
                generate(vsetky_kategorie[index]);
                index++;
                index %= vsetky_kategorie.length;
                load(vsetky_kategorie[index]);
            }

            var element = $("#scroll");

            function scrollToRow(childIndex, step) {
                // sleep(2000);
                var scroll = document.getElementById("scroll-tbody");
                var delay = 1000;
                if(scroll.children.length <= 5)
                {
                    setTimeout(generujDalsie, 5000);
                    return;
                }
                if(childIndex == -1)
                {
                    generujDalsie();
                    return;
                }
                if(childIndex == scroll.children.length - 6)
                {
                    step = -1;
                    delay = 5000;
                }
                element.animate({
                   scrollTop: scroll.children[childIndex].offsetTop
                }, 1000, function() {setTimeout(function(){scrollToRow(childIndex+step, step)}, delay)});
            }

            // Casovac
            var casovac = document.getElementById("casovac");
            var text;

            var x = setInterval(function() {

                var teraz = new Date().getTime();
                if (teraz < zaciatok) {
                    var rozdiel = zaciatok - teraz;
                    text = "Začíname o:";
                }
                else {
                    var rozdiel = koniec - teraz;
                    text = "Do konca ostáva:";
                }

                var hod = Math.floor(rozdiel  / (1000 * 60 * 60));
                var min = Math.floor((rozdiel % (1000 * 60 * 60)) / (1000 * 60));
                var sec = Math.floor((rozdiel % (1000 * 60)) / 1000);

                casovac.innerHTML = text + " " + hod + "h " + min + "m " + sec + "s ";

                if (rozdiel < 0) {
                    clearInterval(x);
                    casovac.innerHTML = "<span class='text-danger'>Koniec</span>";
                }
            }, 1000);

            function preContest()
            {
                var teraz = new Date().getTime();
                if(teraz < zaciatok) {
                    setTimeout(preContest, 1000);
                }
                else {
                    vysledky.style["display"] = null;
                    generujDalsie()
                }
            }
        </script>
        </b>
    </body>
</html>
