<!DOCTYPE html>
<html lang="sk" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Výsledky</title>
        <link rel="stylesheet" href="/static/matboj.min.css">
    </head>
    <body style="height: 100vh; ">
        <b>
        <div class="container-fluid mt-0" style="height: 100vh;">
                <h1 class="text-center text-primary pt-2 pb-3" style="font-size: 10rem;height: 20vh">Tombola</h1>
                <div id="num" style="height: 40vh;text-align: center;font-size: 15rem;"></div>
                <div id="teamname" style="height: 20vh;text-align: center;font-size: 5rem;"></div>
                <div id="school" style="height: 20vh;text-align: center;font-size: 5rem;"></div>
        </div>

        <script src="/static/jquery-3.4.1.min.js" charset="utf-8"></script>
        <script src="/static/confetti.min.js" charset="utf-8"></script>
        <script>
            teams = [{% for t in timy %}{{t}},{% endfor %}];
            nazvy = [{% for t in nazvy %}'{{t}}',{% endfor %}];
            skoly = [{% for t in skoly %}'{{t}}',{% endfor %}];
            exclude = new Set();

            var spin = false;
            function random_shity() {
                i = Math.floor(Math.random() * teams.length);
                document.getElementById("num").innerHTML = teams[i];
                if(!spin && !exclude.has(i)) {
                    document.getElementById("teamname").innerHTML = nazvy[i];
                    document.getElementById("school").innerHTML = skoly[i];
                    exclude.add(i);
                    confetti.start();
                    return;
                }
                setTimeout(random_shity, 1);
            }

            document.onkeydown = function(x) {
                if(x.key == " ") spin = !spin;
                if(spin) {
                    confetti.stop();
                    confetti.remove();
                    random_shity();
                    document.getElementById("teamname").innerHTML = "";
                    document.getElementById("school").innerHTML = "";
                }
            }
        </script>
        </b>
    </body>
</html>
